{% extends 'base.html' %}
{% load material_form %}

{% block content %}
    <h1>Оформить заказ</h1>

    <div class="col s7">
        <form method="POST" id="post-form">
            {% csrf_token %}
            {% form form=form %}
            {% endform %}
            <button type="submit" class="btn btn-primary">Заказать</button>
        </form>
    </div>
    <div class="col s5">
        <h5 id="discount"></h5>
        <h5 id="price"></h5>
        <h5 id="cost"></h5>
    </div>

    <script>

        $('#post-form').on('submit', function (event) {
            event.preventDefault();
            console.log("form submitted!");
            create_post();
        });

        function create_post() {
            console.log("create post is working!");
            $.ajax({
                url: "../requestadd/",
                type: "POST",
                data: {
                    phone: phone,
                    loader: false,
                    cutter: false,
                    calculatedInPlace: false,
                    discount: discount,
                    locality: locality.name,
                    address: $("#address").val(),
                    scrapyard: scrapyards[$("#id_scrapyard").prop('selectedIndex')].name,
                    distantce: distance,
                    transport: transports[$("#id_transport").prop('selectedIndex')].name,
                    cost: cost,
                    tonn: $("#id_tonn").val(),
                    data: $("#id_data").val(),
                    comment: $("#id_comment").val(),
                    price: price
                },

                success: function (json) {
                    alert('Заказ совершен! Оператор свяжится с вами в ближайшее время. Вы можете разместить новый заказ прямо сейчас.');

                    location.reload();

                    console.log(json);
                    console.log("success");
                },

                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                    alert('Ошибка! Повторите позже.');
                }
            });
        }

        jQuery(function ($) {
            $("#id_phone").mask("+7(999)999-9999");
        });
        jQuery(function ($) {
            $("#id_data").mask("99.99.2099");
        });

        var transports;
        var scrapyards;
        var locality;
        var excessFare = 0;
        var price = 0;
        var cost = 0;
        var discount = 0;
        var distance = 0;
        var phone;

        function setPrice() {
            var number = parseFloat(scrapyards[$("#id_scrapyard").prop('selectedIndex')].price);
            price = number + excessFare * distance / 1000;
            $("#price").text("Цена закупки за тонну: " + price.toFixed(2) + ' руб.');
        }

        function setCost() {
            var number = parseFloat(transports[$("#id_transport").prop('selectedIndex')].price);
            cost = number * distance / 1000;
            $("#cost").text("Стоимость доставки: " + cost.toFixed(2) + ' руб.');
        }

        function checkPhone() {
            var val = $("#id_phone").val();
            $("#discount").text("");
            phone = val.substring(0, 2) + val.substring(3, 6) + val.substring(7, 10) + val.substring(11);
            if (phone.charAt(11) !== '_') {
                $.ajax({
                    url: '../customer/',
                    data: 'phone=' + phone,
                    dataType: 'json',
                    success: function (data) {
                        if (data.length > 0) {
                            discount = data[0].discount;
                            $("#discount").text("Доплата по карте за тонну: " + discount + ' руб.');

                            setCost();
                            setPrice();
                        }
                    }
                });
            }
        }

        $.ajax({
            url: '../api/data/',
            dataType: 'json',
            success: function (data) {
                transports = data.transports;
                scrapyards = data.scrapyards;
                excessFare = 1;
                $("#id_locality").prop('selectedIndex', 0).formSelect().change();

                setPrice();
                setCost();
            }
        });

        checkPhone();


        $("#id_phone").on('input keyup', function (e) {
            checkPhone();
        });


        $("#id_scrapyard").change("input", function () {
            if ($("#id_scrapyard").prop('selectedIndex') == 0) {
                distance = locality.distanceBelogorsk;
            } else if ($("#id_scrapyard").prop('selectedIndex') == 1) {
                distance = locality.distanceTygda;
            } else {
                distance = locality.distanceSkovorodino;
            }

            setCost();
            setPrice();
        });


        $("#id_transport").change("input", function () {
            setCost();
        });


        $("#id_tonn").on('input keyup', function () {
            var val = parseInt($("#id_tonn").val(), 10);

            if (val > 0) {
                for (i = 0; i < transports.length; i++) {
                    if (val <= transports[i].tonn) {
                        $("#id_transport").prop('selected', true).prop('selectedIndex', i).formSelect();
                        return;
                    }
                }
                $("#id_transport").prop('selected', true).prop('selectedIndex', i - 1).formSelect();
            }
        });

        $("#id_locality").change("input", function () {
            var val = $("#id_locality").val();

            $.ajax({
                url: '../locality/',
                data: 'name=' + val,
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        locality = data[0];
                        var db = locality.distanceBelogorsk;
                        var ds = locality.distanceSkovorodino;
                        var dt = locality.distanceTygda;

                        if (dt < ds && dt < db) {
                            $("#id_scrapyard").prop('selectedIndex', 1).formSelect();
                            distance = dt;
                        } else if (db < ds && db < dt) {
                            $("#id_scrapyard").prop('selectedIndex', 0).formSelect();
                            distance = db;
                        } else if (ds < db && ds < dt) {
                            $("#id_scrapyard").prop('selectedIndex', 2).formSelect();
                            distance = ds;
                        }
                        setCost();
                        setPrice();
                    }
                }
            });
        });
    </script>
{% endblock %}