{% extends 'base.html' %}
{% load material_form %}

{% block content %}
<h1>Оформить заказ</h1>

<div class="col s7">
    <form method="POST" id="post-form">
        {% csrf_token %}
        {% form form=form %}
        {% endform %}
        <button type="submit" class="btn btn-primary">Заказать</button>
    </form>
</div>
<div class="col s5">
    <h5 id="discount"></h5>
    <h5 id="price"></h5>
    <h5 id="cost"></h5>
    <iframe id="video" width="560" height="315"
            src="https://www.youtube.com/embed/d31oM1XDNZU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0"
            allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<script>

        $('#post-form').on('submit', function (event) {
            if ($("#id_phone").val().length > 0) {
                event.preventDefault();
                console.log("form submitted!");
                create_post();
            } else {
                $("#id_phone").ajaxError();
            }
        });


        $("#id_locality_kh_container").hide();
        $("#id_locality_ev_container").hide();
        $("#id_locality_pr_container").hide();

        $("#id_transport_bel_container").hide();
        $("#id_transport_tyg_container").hide();
        $("#id_transport_sk_container").hide();
        $("#id_transport_kh_container").hide();
        $("#id_transport_nah_container").hide();

        function create_post() {
            console.log("create post is working!");
            $.ajax({
                url: "../requestadd/",
                type: "POST",
                data: {
                    phone: phone,
                    loader: false,
                    cutter: false,
                    calculatedInPlace: false,
                    discount: discount,
                    region: region.name,
                    locality: locality.name,
                    address: $("#id_address").val(),
                    scrapyard: selectScrapyard.name,
                    distantce: distance,
                    transport: selectTransport.name + " " + selectTransport.tonn + " тонн",
                    cost: cost,
                    tonn: $("#id_tonn").val(),
                    data: $("#id_data").val(),
                    comment: $("#id_comment").val() + "\n Заказ сделан через сайт.",
                    price: price
                },

                success: function (json) {
                    alert('Заказ совершен! Оператор свяжится с вами в ближайшее время. Вы можете разместить новый заказ прямо сейчас.');

                    location.reload();

                    console.log(json);
                    console.log("success");
                },

                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                    alert('Ошибка! Повторите позже.');
                }
            });
        }

        jQuery(function ($) {
            $("#id_phone").mask("+7(999)999-9999");
        });
        jQuery(function ($) {
            $("#id_data").mask("99.99.2099");
        });

        var transports;
        var scrapyardsTransport;
        var scrapyards;

        var selectScrapyard;
        var selectTransport;

        var region;
        var locality;
        var excessFare = 0;
        var price = 0;
        var cost = 0;
        var discount = 0;
        var distance = 0;
        var phone;

        function setPrice() {
            var number = parseFloat(selectScrapyard.price);
            price = number + excessFare * distance / 1000;
            $("#price").text("Цена закупки за тонну:\u00A0" + price.toFixed(2) + '\u00A0руб.');
        }

        function setCost() {
            selectTransport = transports[scrapyardsTransport.prop('selectedIndex')];
            var number = parseFloat(selectTransport.price);
            cost = number * distance / 1000;
            $("#cost").text("Стоимость доставки:\u00A0" + cost.toFixed(2) + '\u00A0руб.');
        }

        function checkPhone() {
            var val = $("#id_phone").val();
            var newPhone = val.substring(0, 2) + val.substring(3, 6) + val.substring(7, 10) + val.substring(11);
            if (newPhone !== phone) {
                $("#discount").text("");
                phone = "";

                if (newPhone.charAt(11) !== '_') {
                    phone = newPhone;
                    $.ajax({
                        url: '../customer/',
                        data: 'phone=' + phone,
                        dataType: 'json',
                        success: function (data) {
                            if (data.length > 0) {
                                discount = data[0].discount;
                                $("#discount").text("Доплата по карте за тонну:\u00A0" + discount + '\u00A0руб.');

                                setCost();
                                setPrice();
                            }
                        }
                    });
                }
            }
        }


        function changeLocality(val) {
            $.ajax({
                    url: '../locality/',
                    data: 'name=' + val,
                    dataType: 'json',
                    success: function (data) {
                        if (data.length > 0) {
                            locality = data[0];
                            var db = locality.distanceBelogorsk;
                            var ds = locality.distanceSkovorodino;
                            var dt = locality.distanceTygda;
                            var dk = locality.distanceKhabarovsk;
                            var dn = locality.distanceNahotka;
                            var min = Math.min(dt, ds, dt, dk, dn)

                            if (dt === min) {
                                $("#id_scrapyard").prop('value', 'Тыгда').formSelect().change();
                                distance = dt;
                            } else if (db === min) {
                                $("#id_scrapyard").prop('value', 'Белогорск').formSelect().change();
                                distance = db;
                            } else if (ds === min) {
                                $("#id_scrapyard").prop('value', 'Сковородино').formSelect().change();
                                distance = ds;
                            } else if (dk === min) {
                                $("#id_scrapyard").prop('value', 'Хабаровск').formSelect().change();
                                distance = dk;
                            } else if (dn === min) {
                                $("#id_scrapyard").prop('value', 'Находка').formSelect().change();
                                distance = dn;
                            }

                            setCost();
                            setPrice();
                        }
                    }
            });
        }


        $.ajax({
            url: '../api/data/',
            dataType: 'json',
            success: function (data) {
                transports = data.transports;
                scrapyards = data.scrapyards;
                excessFare = 1;
                $("#id_locality_amur").prop('selectedIndex', 0).formSelect().change();
            }
        });

        checkPhone();


        $("#id_phone").on('input keyup', function (e) {
            checkPhone();
        });


        $("#id_scrapyard").change("input", function () {
            var selectedIndex = $("#id_scrapyard").prop('selectedIndex');
            selectScrapyard = scrapyards[$("#id_scrapyard").prop('selectedIndex')];

            if (selectedIndex === 0) {
                distance = locality.distanceBelogorsk;
                $("#id_transport_bel_container").show();
                scrapyardsTransport = $("#id_transport_bel").change();
                $("#id_transport_tyg_container").hide();
                $("#id_transport_sk_container").hide();
                $("#id_transport_kh_container").hide();
                $("#id_transport_nah_container").hide();
            } else if (selectedIndex === 1) {
                distance = locality.distanceTygda;

                $("#id_transport_bel_container").hide();
                $("#id_transport_tyg_container").show();
                scrapyardsTransport = $("#id_transport_tyg")
                $("#id_transport_sk_container").hide();
                $("#id_transport_kh_container").hide();
                $("#id_transport_nah_container").hide();
            } else if (selectedIndex === 2) {
                distance = locality.distanceSkovorodino;

                $("#id_transport_bel_container").hide();
                $("#id_transport_tyg_container").hide();
                $("#id_transport_sk_container").show();
                scrapyardsTransport = $("#id_transport_sk")
                $("#id_transport_kh_container").hide();
                $("#id_transport_nah_container").hide();
            } else if (selectedIndex === 3) {
                distance = locality.distanceKhabarovsk;

                $("#id_transport_bel_container").hide();
                $("#id_transport_tyg_container").hide();
                $("#id_transport_sk_container").hide();
                $("#id_transport_kh_container").show();
                scrapyardsTransport = $("#id_transport_kh")
                $("#id_transport_nah_container").hide();
            } else if (selectedIndex === 4) {
                distance = locality.distanceNahotka;

                $("#id_transport_bel_container").hide();
                $("#id_transport_tyg_container").hide();
                $("#id_transport_sk_container").hide();
                $("#id_transport_kh_container").hide();
                $("#id_transport_nah_container").show();
                scrapyardsTransport = $("#id_transport_nah")
            }
            scrapyardsTransport.change();

            setCost();
            setPrice();
        });


        $("#id_transport_bel").change("input", function () {
            setCost();
        });


        $("#id_transport_tyg").change("input", function () {
            setCost();
        });


        $("#id_transport_sk").change("input", function () {
            setCost();
        });


        $("#id_transport_kh").change("input", function () {
            setCost();
        });


        $("#id_transport_nah").change("input", function () {
            setCost();
        });


        $("#id_tonn").on('input keyup', function () {
            var val = parseInt($("#id_tonn").val(), 10);

            if (val > 0) {
                var length = selectScrapyard.transports.length;
                for (var i = 0; i < length; i++) {
                    var tr = transports[selectScrapyard.transports[i]-1];
                    if (val <= tr.tonn) {
                        scrapyardsTransport.prop('selected', true).prop('selectedIndex', i).formSelect().change();
                        return;
                    }
                }
                scrapyardsTransport.prop('selected', true).prop('selectedIndex', length-1).formSelect().change();
            }
        });

        $("#id_locality_amur").change("input", function () {
            var val = $("#id_locality_amur").val();
            changeLocality(val);
        });

        $("#id_locality_kh").change("input", function () {
            var val = $("#id_locality_kh").val();
            changeLocality(val);
        });

        $("#id_locality_ev").change("input", function () {
            var val = $("#id_locality_ev").val();
            changeLocality(val);
        });

        $("#id_locality_pr").change("input", function () {
            var val = $("#id_locality_pr").val();
            changeLocality(val);
        });

        $("#id_region").change("input", function () {
            var selectedIndex = $("#id_region").prop('selectedIndex');

           if (selectedIndex === 0) {
                $("#id_locality_amur_container").show();
                $("#id_locality_amur").change();
                $("#id_locality_kh_container").hide();
                $("#id_locality_ev_container").hide();
                $("#id_locality_pr_container").hide();
           } else if (selectedIndex === 1) {
                $("#id_locality_amur_container").hide();
                $("#id_locality_kh_container").show();
                $("#id_locality_kh").change();
                $("#id_locality_ev_container").hide();
                $("#id_locality_pr_container").hide();
           } else if (selectedIndex === 2) {
                $("#id_locality_amur_container").hide();
                $("#id_locality_kh_container").hide();
                $("#id_locality_ev_container").show();
                $("#id_locality_ev").change();
                $("#id_locality_pr_container").hide();
           } else if (selectedIndex === 3) {
                $("#id_locality_amur_container").hide();
                $("#id_locality_kh_container").hide();
                $("#id_locality_ev_container").hide();
                $("#id_locality_pr_container").show();
                $("#id_locality_pr").change();
           }

        });



</script>
{% endblock %}