{% extends 'base.html' %}
{% block content %}

    <div align="center">
        <div style="width: 900px;">
            <h4>УСЛОВИЯ ПРОГРАММЫ:</h4>
            <p><b><i>1. Общие положения:</i></b></p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Настоящие Условия являются обязательным
                приложением к
                Правилам участия в Программе «БОЛЬШЕ ЛОМА — БОЛЬШЕ ДЕНЕГ»!</p>
            <p><b><i>2. Регион действия Программы:</i></b></p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Программа действует в г. Белогорске, г.
                Сковородино, пгт.
                Тыгда Амурской области в пунктах металлоприема ООО «Деловой металл».</p>
            <p><b><i>3. Порядок вступления в Программу:</i></b></p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Участником Программы может быть только
                физическое лицо,
                достигшее 18 лет (Заявитель), имеющее при себе документ, удостоверяющий личность
                (Паспорт).</p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Стать Участником Программы возможно
                исключительно с момента
                заполнения Анкеты и активации Карты у кассира пункта металлоприема.</p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Получить Карту Участника можно исключительно в
                кассе пункта
                металлоприема Организатора. Карта выдается бесплатно. Повторная выдача Карты в случае утери,
                порчи,
                кражи происходит при оплате стоимости Карты в кассе пункта металлоприема Организатора, по
                цене: 50
                рублей.</p>
            <p><b><i>4. Порядок предоставления денежного вознаграждения Участникам Программы:</i></b></p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Денежное вознаграждение по карте
                предоставляется
                исключительно при предъявлении паспорта гражданина РФ и карты участника.</p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Размер вознаграждения зависит от количества,
                сданного
                Участником металлолома с учетом скидки на засоренность (чистый вес) за последние 100
                календарных дней
                включительно.</p>
            <p align="justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Размер вознаграждения в виде повышения
                закупочной цены
                металлолома по карте:</p>
            <table align="center" border="1" bordercolor="1d4866" cellpadding="5px">
                <tr align="center">
                    <td><b><i>Объем металлолома (тонн)</i></b></td>
                    <td><b><i>Номинал карты (руб)</i></b></td>
                </tr>
                <tr align="center">
                    <td>0 - 9,999</td>
                    <td>50</td>
                </tr>
                <tr align="center">
                    <td>10 - 19,999</td>
                    <td>100</td>
                </tr>
                <tr align="center">
                    <td>20 - 20,999</td>
                    <td>200</td>
                </tr>
                <tr align="center">
                    <td>30 - 30,999</td>
                    <td>300</td>
                </tr>
                <tr align="center">
                    <td>40 - 40,999</td>
                    <td>400</td>
                </tr>
                <tr align="center">
                    <td>50 и более</td>
                    <td>500</td>
                </tr>
            </table>
            <p align="center"><b><i><u>Согласно ст. 220 Налогового Кодекса РФ доходы, полученные от сданного
                металлолома
                не облагаются налогом, если общая сумма этих доходов не превышает 250000 рублей в один
                календарный
                год.</u></i></b></p>
            <div align="left" id="footer">&copy; Больше лома, 2018</div>
        </div>
        <div style="width: 600px;">
            <h4>ЗАКАЗАТЬ ВЫВОЗ МЕТАЛЛОЛОМА МОЖНО СЛЕДУЮЩИМ ОБРАЗОМ:</h4>
            <p><b><i>1. Связаться с менеджером:</i></b></p>
            <p>позвонить на номер 8-924-844-40-09 или 8-914-570-03-04.</p>
            <p><b><i>2. Через приложение GooglePlay:</i></b></p>
            <p>установить на телефоне приложение:<a
                    href="https://play.google.com/store/apps/details?id=lom.lom_android"><font
                    color="#1d487d"><i>"БОЛЬШЕ
                ЛОМА - БОЛЬШЕ ДЕНЕГ!!!"</i></font></a></p>
            <p><b><i>3. На сайте:</i></b></p>
            <p><a href="http://bolsheloma.ru/"><font color="#1d487d"><i>bolsheloma.ru</i></font></a></p>
        </div>
    </div>
{% endblock %}
